<% if current_user.role == 'admin' && @notification.issue_id.present? %>
  <div class="container mt-4">
    <h2 class="text-info">Issue Notification</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Notification Details</h5>
        <ul class="list-group">
          <li class="list-group-item"><strong>Message:</strong> <%= @notification.message %></li>
          <li class="list-group-item"><strong>Issue Description:</strong> <%= @notification.issue.description %></li>
          <li class="list-group-item"><strong>Category:</strong> <span class="text-primary"><%= @notification.category.name %></span></li>
          <li class="list-group-item"><strong>Item:</strong> <span class="text-primary"><%= @notification.issue.item.name %></span></li>
          <li class="list-group-item"><strong>Employee Name:</strong> <span class="text-primary"><%= @notification.issue.user.name %></span></li>
        </ul>
        <% if current_user.role == 'admin' && @notification.issue_id.present? %>
          <%= link_to 'Resolve Issue', edit_issue_path(@notification.issue), class: 'btn btn-primary mt-3' %>
        <% end %>
      </div>
    </div> 
    <a href="<%= notifications_path %>" class="btn btn-secondary mt-3">Back to Notifications</a>
  </div>
<% end %>


<% if current_user.role == 'admin' && @notification.issue_id.nil? %>
  <div class="container mt-4">
    <h2 class="text-danger">Notification</h2>
    <div class="alert alert-info">
      <h3 class="text-uppercase"><%= @notification.priority.capitalize %> Priority</h3>
      <p>
        <strong>Date:</strong> <%= @notification.created_at.strftime("%B %d, %Y %H:%M") %>
      </p>
      <p>
        <strong>Message:</strong> <%= @notification.message %>
      </p>
      <div class="notification-details">
        <p>
          <strong>Category:</strong> <span class="text-primary"><%= @notification.category.name %></span>
        </p>
        <p>
          <strong>Available Buffer:</strong> <span class="text-success"><%= @notification.buffer_quantity %></span>
        </p>
        <p class="text-danger">Hey admin, please buy <strong><%= @notification.category.quantity - @notification.buffer_quantity %> more items</strong></p>
      </div>
    </div>
    <a href="<%= notifications_path %>" class="btn btn-secondary">Back to Notifications</a>
  </div>
<% end %>


<% if current_user.role == 'employee' %>
  <div class="container mt-4">
    <h2>Notification</h2>
    <div class="alert alert-success">
      <%= @notification.message %>
    </div>
  </div>
<% end %>

